.login {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 10rem auto 0 auto;
}

.github-logo {
  text-align: center;
}
